html, body, #root, .apploading {
  width: 100%;
  height: 100%;
  margin: 0;
}

.apploading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  font-family: 'Alumni Sans', Arial, sans-serif;
  font-size: 50px;
  border: 3px solid white;
}
